extends cshared
snippet inc "description"
#include <${1:stdio.h}>${2}
endsnippet
snippet Inc "description"
#include "${1:stdio.h}"${2}
endsnippet
snippet FILE "open file" b
#include <stdio.h>
int main(int argc, const char *argv[])
{
	FILE *fptr;
	const char *fn = "${1}";
	${2:int curr};

	fptr = fopen(fn, "r");
	fscanf(fptr, "${3:%d}", ${4:&curr});
	while (!feof(fptr))
	{
		fscanf(fptr, "$3", $4);
	}
	return 0;
}
endsnippet
