snippet for "For loop"
for ${1}=${2},${3} do begin
	${4}
endfor
endsnippet
snippet if "If clause"
if ${1} then begin
	${2}
endif
endsnippet
snippet wh "While loop"
while ${1} do begin
	${2}
endwhile
endsnippet
