snippet if "Description" b
if ${1}:
	${2}
endsnippet
snippet elif "Description" b
elif ${1}:
	${2}
endsnippet
snippet else "Description" b
else:
	${1}
endsnippet
snippet main "Description" b
if __name__ == '__main__':
	${1}
endsnippet
